<!-- @test_generated/express-flesh-test/src/views/layouts/express-flesh-test.handlebars -->
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{identifier}}</title>
    <meta name="description" content="{{disambiguatingDescription}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link href="apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="/favicon.ico" rel="shortcut icon" />
    <link
      crossorigin="anonymous"
      integrity="sha512-LFWtdAXHQuwUGH9cImO9blA3a3GfQNkpF2uRlhaOpSbDevNyK1rmAjs13mtpjvWyi+flP7zYWboqY+8Mkd42xA=="
      href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.5/photoswipe.min.css"
      referrerpolicy="no-referrer"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,800"
      rel="stylesheet"
    />
    <link href="/dist/css/theme.css" rel="stylesheet" />
  </head>
  <body>
    <pre>
      // This is a copy of the default layout. Delete this file if you want 
      // to use the default. 
    </pre>
    {{{body}}}
  </body>
  <script type="module">
    import PhotoSwipeLightbox from "https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.5/photoswipe-lightbox.esm.min.js"
    const lightbox = new PhotoSwipeLightbox({
      gallery: "section",
      children: "figure>a",
      pswpModule: () => import("https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.5/photoswipe.esm.min.js"),
    })
    lightbox.init()
  </script>
</html>