<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title><%= name %>: out of yo thing</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/<%= name %>.css" />
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
  </head>

  <body schemaName="<%= name %>" isTypeOf="<%= schemaName %>">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
    <h1><%= name %>: <%= schemaName %>s</h1>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="js/vendor/jquery-1.12.0.min.js"><\/script>'
        )
    </script>
    <script src="node_modules/sammy/lib/sammy.js"></script>
    <script
      src="node_modules/sammy/lib/plugins/sammy.template.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script src="js/<%= name %>.js"></script>
    <main></main>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      ;(function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l
        b[l] ||
          (b[l] = function () {
            ;(b[l].q = b[l].q || []).push(arguments)
          })
        b[l].l = +new Date()
        e = o.createElement(i)
        r = o.getElementsByTagName(i)[0]
        e.src = "https://www.google-analytics.com/analytics.js"
        r.parentNode.insertBefore(e, r)
      })(window, document, "script", "ga")
      ga("create", "UA-XXXXX-X", "auto")
      ga("send", "pageview")
    </script>
  </body>
</html>
